<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDKID</key>
	<string>SquareReaderSDK-91f91efb</string>
	<key>SDKKey</key>
	<string>0R17ib68uV0Jj5U2Egh//dOksZlQ904ZtkgEg9W+8zJd858Xllq7O0TU3fAoZSN4yT71/TOFuqew80ATWFVPviaoNAVmfyMwsPNAE1hVT74mqDQFZn8jMAMUCVtbyTRMPx9I3IO4NWnpitkrh4lbrnL7r+ZLXmyrSkdYnwubgzkwmQEWf/l7D0pHWJ8Lm4M5MJkBFn/5ew9XxfShJNVzdFzY4fyHgXyUZVjBjxkrDwmID111YsDoxNFpTfgpFaGpp+991vfA5zsRSycZ6RflpufFsYK3NqAX4vLHGqqdcG4+u8ieklzETMivPt22/vtaMxHxJBrQGAwrNAxPejIhmbHZRTDusRSy65biarpwrfHxP1U4rus9JQmPlTYSCH/906SxmVD3ThmyYKwiwFchD56KxNBdJ3JUO6bmWVF1mG6FRWgU9lPCmbDzQBNYVU++Jqg0BWZ/IzCw80ATWFVPviaoNAVmfyMwLTUNCktRMSAzET7grdSaRITILk8R5vEskWP4gdFZFNVKR1ifC5uDOTCZARZ/+XsPSkdYnwubgzkwmQEWf/l7D1PtXAAxPKFJn6G6O0z8tfsaKvomYDu0H8R0wJynFpD60WlN+CkVoamn733W98DnOxFLJxnpF+Wm58Wxgrc2oBfM08NLugV1AjK1vqK8MGthpe3JuSCRUdjQiaZDgNdgcis0DE96MiGZsdlFMO6xFLLrluJqunCt8fE/VTiu6z0lSH1FvNfmNxCdXSoAp6ew9tybGtEOfQjGvevGcjw5XKg=</string>
</dict>
</plist>
